{{ $layout := .Params.layout }}

{{ if eq $layout "post" }}
<div id="right-container" class="hidden">
</div>
{{ else }}


<div id="right-container" class="{{ if and (eq .Type "page") (not .IsHome) }}hidden{{ end }}">

	{{ if not (and (eq .Type "page") (not .IsHome)) }}

		{{ $feed := "" }}

		<div class="rss-widget">
			{{ if ne .Type "p" }}
				{{ $feed = "https://codeberg.org/api/v1/users/itszariep/activities/feeds" }}
			{{ else }}
				{{ $feed = printf "https://codeberg.org/api/v1/repos/ItsZariep/%s/activities/feeds" .File.BaseFileName }}
			{{ end }}

			{{ partial "rss.html" $feed }}
		</div>

	{{ end }}

</div>
{{ end }}